<% @matchups.each do |match| %>
    <h2><%= match.team_1.team_name %> vs. <%= match.team_2.team_name%></h2>

     <table>
        <tr>
            <th><%=match.team_1.team_name%></th>
            <th>Pts</th>
            <th>Pts</th>
            <th><%=match.team_2.team_name%></th>
        </tr>
        <% match.team_1.week_stats.where(week: 1).each_with_index do |weekStat, i| %>
        <tr>
            <td><%=match.team_1.week_stats[i].player.name%></td>
            <td><%=match.team_1.week_stats[i].points%></td>
            <td><%=match.team_2.week_stats[i].points%></td>
            <td><%=match.team_2.week_stats[i].player.name%></td>
        </tr>
        <% end %>
    </table> 
<% end %>
