<h1>Matchups</h1>

<ul>
<% @weeks.each do |week| %>
        <li>
            <a href='/matchups/<%=week%>'>Week <%=week%></a>
        </li>
    <% end %>
</ul>

<h1>Fantasy Teams</h1>

<ul>
    <% @teams.each do |team| %>
        <li>
            <%= link_to team.owner, team %>
        </li>
    <% end %>
</ul>

<h1>Players</h1>

<ul>
    <% @players.each do |player| %>
        <li>
            <%= link_to player.name, player %>
        </li>
    <% end %>
</ul>

<h1>File Upload</h1>
  <%= form_tag({:action => 'updateStats'}, :multipart => true) do %>
    <p><label for="upload_file">Select File</label>
    <%= file_field 'upload', 'datafile' %></p>
    <%= submit_tag "Upload" %>
  <% end %>



