<h1><%= @player.name %></h1>
<h2>Plays For: <%= @player.team %></h2>

<h3>Current Fantasy Team: <%= @player.week_stats.order("week").last.fantasy_team.team_name %></h3>

<p>View Weekly Stats</p>
<% @player.week_stats.order("week").each do |select_week|%>
    <a href="/players/<%= @player.id%>/week/<%= select_week.week%>">Week <%= select_week.week %></a>
<% end %>

